* {
  font-family: Montserrat;
  box-sizing: border-box;
  color: #515076;
}

body {
  margin: 0 auto;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  color: #ffffff;
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.dandel__img {
  width: 790px;
  height: 697px;
  top: -0px;
  margin-bottom: 902px;
  margin-left: 85px;
  position: absolute;
}

.container__title {
  width: 846px;
  height: 78px;
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  margin: 220px 217px 80px 217px;
  position: relative;
}

.product-card__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1110px;
  height: 1191px;
  gap: 45px;
  margin: 0px 85px 116px 85px;
  position: relative;
}

.button__card {
  width: 200px;
  height: 30px;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 85px;
  margin-right: -89px;
  margin-bottom: 0px;
  position: relative;
}

.click__button {
  width: 200px;
  height: 30px;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 85px;
  margin-right: -89px;
  margin-bottom: 0px;
  position: relative;
  background-color: darkred;
}

.click__button.active {
  background-color: orangered;
}

.product-card__card {
  width: 340px;
  height: 573px;
  background-color: #f7f7fa;
  padding: 25px;
  border: 1px;
}

.card__img {
  width: 290px;
  height: 245px;
}

.card__for-skin {
  width: 171px;
  height: 24px;
  text-transform: uppercase;
  color: rgba(165, 163, 185, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  margin-top: 30px;
}

.card__use {
  margin: 0;
  width: 220px;
  height: 27px;
  font-weight: 700;
  font-size: 20px;
  margin-top: 5px;
  white-space: nowrap;
}

.card__description {
  width: 287px;
  height: 36px;
  margin-top: 5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.card__compound {
  width: 49px;
  height: 18px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-top: 15px;
}

.card__ingredients {
  margin-top: 5px;
  margin-bottom: 25px;
  padding-left: 0;
  list-style-type: circle;
  list-style-position: inside;
}

.card__ingredients::marker {
  width: 7px;
  height: 7px;
  margin-left: 25px;
}

.card__ingredients li {
  position: relative;
  margin-bottom: 5px;
  font-size: 13px;
}

.card__ingredients li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border: 1px solid #515076;
  border-radius: 50%;
  background-color: #fff;
}

li::marker {
  position: relative;
  margin-bottom: 5px;
  font-size: 13px;
}

.card__price {
  width: 290px;
  height: 24px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__title {
  width: 56px;
  height: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.price {
  height: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  max-width: 100%;
  min-height: 300px;
  background-color: #3a3a3a;
}

.footer__container {
  max-width: 1569px;
  width: 100%;
  margin: 0 auto;
  min-height: 147px;
  padding: 85px 10px 55px 84px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__content-one {
  width: 409px;
  display: flex;
  flex-direction: column;
}

.footer__content-two {
  width: 477px;
}

.footer__content-three {
  width: 178px;
}

.footer__logo {
  width: 214px;
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 28px;
  line-height: 154%;
  letter-spacing: 0%;
  color: #ffffff;
  text-transform: capitalize;
}

.footer__text {
  width: 409px;
  height: 28px;
  margin-top: -2px;
  margin-bottom: 44px;
  font-weight: 200;
  font-size: 18px;
  line-height: 154%;
  letter-spacing: 0%;
  color: #ffffff;
  text-transform: capitalize;
  text-wrap: nowrap;
}

.footer__socials {
  display: flex;
  gap: 31px;
}

.footer__subscribe {
  width: 350px;
  height: 29px;
  margin-top: 0px;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  text-wrap: nowrap;
}

.footer__form {
  display: flex;
  padding: 22px 340px 22px 36px;
  max-width: 400px;
  height: 61px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  align-items: center;
}

.footer__input {
  border: none;
  background: transparent;
  flex-grow: 1;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000bf;
}

.form__img {
  width: 18px;
  margin-right: -20px;
  border: 1px;
  color: #000000;
}

.footer__btn {
  padding: 20px 15px 19px 41px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.footer__links {
  margin-top: 0;
  text-wrap: nowrap;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.footer__list {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  gap: 17px;
  padding-left: 0px;
  list-style: none;
}

.footer__link {
  color: #ffffff;
  text-decoration: none;
}

.footer__bottom {
  display: flex;
  justify-content: center;
}

.footer__line {
  max-width: 66px;
  width: 100%;
  margin-top: 83px;
  margin-right: 832px;
  margin-bottom: 33px;
  margin-left: 830px;
  border: 1px;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.footer__site-link {
  min-width: 376px;
  padding-top: 33px;
  padding-bottom: 28px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.modal__form label {
  align-self: flex-start;
}

.modal__form input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal.show {
  display: block;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.close__modal {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 10px;
  background: #4bc107;
  border-radius: 5px;
}

.button__registration {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: rgb(75, 130, 2);
  color: rgb(230, 230, 233);
  cursor: pointer;
  width: 100%;
}

.button__registration:hover {
  background: #333;
}
